<div style="position: relative; text-align: center; top: 100px; width: 100%; font-size: 24pt">
    <img src="/images/logo-rede.svg" style="position: relative; height: 150px;">
    <div style="position: relative; top: 35px"><p><b>Gestão de Processos Centralizado</b></p></div>
</div>