<div style="position: relative; left: 20px"><h1><b>Ticket <%= @admin_ticket.id %></b></h1></div>

<%= render 'form', admin_ticket: @admin_ticket %>

<div style="position: relative; left: 50px">
    <%= link_to 'Visualizar', @admin_ticket %> |
    <%= link_to 'Voltar', admin_tickets_path %>
</div>
