<div style="position: relative; left: 20px"><h1>Criar novo Ticket</h1></div>

<%= render 'form', admin_ticket: @admin_ticket %>
<div style="position: relative; left: 50px; margin-top: 10px; margin-bottom: 15px">
    <%= link_to 'Back', admin_tickets_path %>
</div>
