<p id="notice"><%= notice %></p>
<div style="position: relative; left: 20px"><h1><b>Ticket <%= @admin_ticket.id %> enviado para próxima etapa</b></h1></div>

<div style="position: relative; left: 50px;">
  <%= link_to 'Voltar para consulta', admin_tickets_path %>
</div>
